/* 
заголовки h2, h3, ссылки в nav: #212121;
цвет абзацев, контактов в шапке: #757575;
цвет телефон/почта в футере rgba(255, 255, 255, 0.6);

основной цвет фона #FFFFFF;
фон футера+героя #2F303A;

цвет h1, кнопок в hover: #FFFFFF
цвет кнопки, ссылки: #2196F3

*/
/* CSS variables */
:root {
    --main-text-color: #212121;
    --second-text-color: #757575;
    --footer-text-color: rgba(255, 255, 255, 0.6);

    --bg-color: #FFFFFF;
    --footer-bg-color: #2F303A;
    
    --text-btn-color-hover: #FFFFFF;
    --accent-color: #2196F3;
}

/* Hidden  */

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

body {
    color: var(--main-text-color);
    background-color: var(--bg-color);

    font-family: 'Roboto',
    sans-serif;
}

/* Styles for header */

.logo {
    color: var(--accent-color);
    text-decoration: none;

    font-family: 'Raleway',
    sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19px;
}

.logo span {
    color: #000000;
}

.site-nav .link {
    color: var(--title-text-color);
}


.list {
    list-style: none;
}

.link {
    color: var(--primary-text-color);
    text-decoration: none;
}

.header .link:hover,
.header .link:active{
color: var(--accent-color);
}

.site-nav, .auth-nav {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
}

/* Styles for hero */
.hero {
    background-color: #2F303A;
}

.hero-title {
    color: #ffffff;

    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
}

.hero-btn {
    color: #ffffff;
    background-color: var(--accent-color);

    font-weight: 700;
    font-size: 16px;

    cursor: pointer;
}

/* Styles for peculiarities */
.title, .subtitle {
    color: var(--title-text-color);
}

.peculiarities .title {

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}
.peculiarities p {
    font-size: 14px;
    line-height: 1.71;
}

/* Styles for what doing */
.what-doing .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
}



/* Styles for our team */

.team {
    background-color: #F5F4FA;
}

.team .title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
}

.team .subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
}

.team p {
    font-size: 16px;
    line-height: 1.9;
}

/* Styles for footer */
.footer {
    background-color: #2F303A;
}

.footer span {
    color: #ffffff;
}

.footer .text {
    color: #ffffff;

    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
}

.footer .link {
    color: rgba(255, 255, 255, 0.6);

    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
}

.footer .link:hover,
.footer .link:active {
    color: var(--accent-color);
}