/* 
цвет основного текста: #757575 
цвет заголовков, неактивных nav: #212121 
цвет белый h1, надписи кнопок: #FFFFFF
цвет кнопки, ссылки: #2196F3
цвет телефон, почта в футере rgba(255, 255, 255, 0.6);

*/
:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
}

body {
    color: var(--primary-text-color);
    background-color: #ffffff;
}

/* Styles for header */

.logo {
    color: var(--accent-color);
    text-decoration: none;
}

.logo span {
    color: #000000;
}

.site-nav {
    color: var(--title-text-color);
}


.list {
    list-style: none;
}

.link {
    color: var(--primary-text-color);
    text-decoration: none;
}

.header .link:hover,
.header .link:active{
color: var(--accent-color);
}

/* Styles for hero */
.hero {
    background-color: #2F303A;
}

.hero-title {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 44px;
}

.hero-btn {
    color: #ffffff;
    background-color: var(--accent-color);
}

/* Styles for peculiarities and what doing */

.title {
color: var(--title-text-color);
}

/* Styles for our team */

.team {
    background-color: #F5F4FA;
}


/* Styles for footer */
.footer {
    background-color: #2F303A;
}

.footer span,
.text {
    color: #ffffff;
}

.footer .link {
    color: rgba(255, 255, 255, 0.6);
}